.container {
  padding-top: 3rem;
}

.mainContainer {
  display: flex;
  margin: 0 auto;
  max-width: 1500px;
  padding: 3rem;
  padding-top: 3rem;
}

.sidebar {
  width: 300px;
}

.main {
  flex: 1;
  display: flex;
  flex-flow: column;
  gap: 2rem;
}

.search {
  max-width: 1500px;
  padding: 0 3rem;
  margin: auto;
  display: flex;
}

.search input {
  flex: 1;
  border-radius: 5px 0 0 5px;
  border: 1px solid rgba(0, 0, 0, 0.589);
  border-right: 0;
  padding: 0.5rem;
  outline: none;
  font-size: 1.1rem;
}

.search button {
  background-color: rgba(0, 101, 0, 0.801);
  color: white;
  border: none;
  /* border-radius: 5px; */
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.2s linear;
  font-size: 1.2rem;
  border-radius: 0 5px 5px 0;
}
