.user-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    position: relative;
    margin: 0px;
}

@media (min-width: 1024px) {
    .container {
        max-width: 100%;
    }
}

.username {
    font-size: 1em;
    padding-right: 1em;
    text-align: center;
    height: 100%;
}

.logout {
    margin: 1.5em;
}
