.flexContainer{
    display: flex;
    gap: 20px;
    margin-top: 10px;
    flex-wrap: flex;
    justify-content: center;
    align-items: center;

}
.imageHolder{
height:calc(50px + 2vw);   
width: auto;
}
.imageHolder img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}