.hero {
  background: green;
}
.pageSection {
  min-height: 100vh;
}
.nav {
  position: sticky;
}
.Container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 500px;
  padding: 0px 10px;
}
.left {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.span1 {
  font-size: larger;
  font-weight: 500;
}
.span2 {
  font-size: 3vw;
  font-weight: 700;
  text-align: center;
}
.span3 {
  margin-top: 15px;
  line-height: 30px;
  font-size: larger;
  text-align: center;
}
.right img {
  height: 100%;
  width: 100%;
}
.productLister {
  font-weight: 700;
  /* margin-left: 10px; */
  font-size: 30px;
  text-align: center;
  height: auto;
}

@media (max-width: 800px) {
  .Container {
    flex-direction: column;
  }
  .span2 {
    font-size: 30px;
  }
  .span3 {
    font-size: 10px;
    line-height: 15px;
  }
}

.row {
  height: 100%;
  margin: auto;
}
.leftHeading {
  font-weight: 700;
  color: white;
  font-size: 2.75rem;
  line-height: 1;
}
.leftParagraph {
  color: white;
  padding-left: 10px;
  margin-top: 20px;
  font-size: 1.25rem;
  line-height: 1.75rem;
}
.leftColumn {
  /* background-color: #fff; */
  float: left;
  width: 50%;
  padding: 25px;
  align-items: center;
  vertical-align: middle;
  height: 100%; /* Should be removed. Only for demonstration */
  padding-top: 15%;
}
/* Create two equal columns that floats next to each other */
.rightColumn {
  /* background-image: url("https://tuk-cdn.s3.amazonaws.com/can-uploader/Graphic.png"); */
  object-fit: cover;
  background-position: 50% 50%;
  float: left;
  width: 50%;
  padding: 10px;
  align-items: center;
  vertical-align: center;
  height: 100%; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.btn {
  width: 200px;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  font-size: 19px;
  font-weight: 500;
  cursor: pointer;
  display: inline-block;
  margin-top: 20px;
  margin-left: 10px;
  border-radius: 0.375rem;
  border: none;
  background-color: white;
  color: green;
  box-shadow: 2px 4px 6px 8px rgb(79 70 229/0.1);
  margin-right: 20px;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .leftColumn {
    width: 100%;
    height: auto;
  }
  .rightColumn {
    width: 97%;
    margin: 0 20px 0 10px;
    border-radius: 20px;
  }

  .btn {
    width: 150px;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}
